a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.external-link::after {
    content: ' \2197';
    font-size: 0.8em;
    margin-left: 0.2em;
    display: inline-block;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    padding-top: 0.5em;
    padding-bottom: 0em;
}

main p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main img {
    max-width: 100%;
}

main table {
    width: 100%;
    border-collapse: collapse;
}

main th,
main td {
    border: 1px solid #dee2e6;
    padding: 0.5em;
}

main th {
    background-color: #f8f9fa;
}

main blockquote {
    border-left: 0.25em solid #007bff;
    padding-left: 1em;
    margin-left: 0;
}

main pre {
    padding: 0.5em;
    border: 1px solid #dee2e6;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffffff;
    }

    a {
        color: #bb86fc;
    }

    a:hover {
        color: #3700b3;
    }

    main th {
        background-color: #333333;
    }

    main blockquote {
        border-left-color: #bb86fc;
    }
}
