{{ define "main" -}}
<article>
  <div class="pt-3">
    <h1>{{ .Title }}</h1>
  </div>
  {{ if .Date -}}
    <div class="pt-3">
      {{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02 15:04") }}
    </div>
  {{ end -}}

  <div class="pt-3">
  {{ range .Params.categories }}
    <div class="d-inline">
      <a class="ms-2" href="/categories/{{ lower . }}">#{{ . }}</a>
    </div>
  {{ end }}

  {{ $taxo := "tags" -}}
  {{ if .Param $taxo -}}
    {{ $data := newScratch }}
    {{ range .Param $taxo -}}
      {{ $name := . -}}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | anchorize)) }}
        {{ $data.Set "url" .Permalink }}
      {{ end }}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
        {{ $data.Set "url" .Permalink }}
      {{ end }}
      <div class="d-inline">
        <a class="ms-2" href="{{ $data.Get "url" | relURL }}">#{{ $name }}</a>
      </div>
    {{ end -}}
  {{ end -}}
  </div>

  {{ if .Params.toc }}
    {{ if ne .TableOfContents "<nav id=\"TableOfContents\"></nav>" }}
      <nav class="pt-3">
        <h2>目录</h2>
        {{ .TableOfContents }}
      </nav>
    {{ end }}
  {{ end }}

  <div class="py-3">
    {{ .Content -}}
  </div>
</article>

{{ if eq .Section "posts" }}
<div class="row">
{{ with .PrevInSection -}}
  <div class="col pt-3 text-start">
    <a href="{{ .Permalink | relURL }}">← {{ .Title }}</a>
  </div>
{{ end -}}
{{ with .NextInSection -}}
  <div class="col pt-3 text-end">
    <a href="{{ .Permalink | relURL }}">{{ .Title }} →</a>
  </div>
{{ end -}}
</div>
<div class="mt-3">
  {{ $related := .Site.RegularPages.Related . | first 5 }}
  {{ with $related }}
  <h3>相关文章</h3>
  <ul>
   {{ range . }}
   <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
   {{ end }}
  </ul>
  {{ end }}
</div>
{{ end -}}
{{ end -}}
