{{ define "main" -}}
<div class="mb-4">
  <h1 class="h2 mb-3">{{ .Title }}</h1>
  {{ .Content -}}
</div>

<div class="mb-4 text-muted">
  总计有 {{ len .Pages }} 篇文章。
</div>

<ul class="article-list">
  {{ range .Paginator.Pages -}}
  <li class="article-item">
    <a href="{{ .RelPermalink }}" class="article-card-link">
      <div class="article-date">{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}</div>
      <div class="article-title">
        <span class="article-title-text">
          {{ .Title }}
          {{ range .Params.badges }}
          <span class="article-badge">{{ . }}</span>
          {{ end }}
        </span>
      </div>
    </a>
  </li>
  {{ end -}}
</ul>

{{ if gt .Paginator.TotalPages 1 }}
  {{ partial "pagination.html" . }}
{{ end }}
{{ end -}}
