<header class="navbar navbar-expand-lg navbar-dark navbar-geek">
  {{ block "header" . }}
  <div class="navbar-brand-wrapper">
    <a class="navbar-brand navbar-brand-geek fw-bold d-flex align-items-center" href="/">
      <img src="{{ "images/logo/geek-logo.svg" | relURL }}" alt="Logo" class="me-2" width="48" height="48">
      {{ site.Title }}
    </a>
    <div class="navbar-subtitle">用代码构建世界，用文字记录人生</div>
  </div>
  <nav class="navbar-nav ms-auto">
    {{- range .Site.Menus.main -}}
    <a class="nav-link nav-link-geek {{ if eq .URL $.RelPermalink }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
    {{- end -}}
    <button class="btn btn-outline-primary btn-search-geek ms-2" type="button" data-bs-toggle="modal" data-bs-target="#searchModal">
      <i class="fas fa-search me-1"></i> 搜索
    </button>
  </nav>
  {{ end }}
</header>
