{{ $paginator := .Paginator }}
{{ $currentPage := $paginator.PageNumber }}
{{ $totalPages := $paginator.TotalPages }}

<nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
  <ul class="pagination pagination-geek">
    {{ $prevPage := sub $currentPage 5 }}
    {{ if gt $prevPage 0 }}
      {{ $prevURL := "" }}
      {{ if eq $prevPage 1 }}
        {{ $prevURL = "/" }}
      {{ else }}
        {{ $prevURL = printf "/page/%d/" $prevPage }}
      {{ end }}
      <li class="page-item">
        <a class="page-link" href="{{ $prevURL }}" aria-label="Previous 5 pages">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {{ else }}
      {{ $firstURL := "/" }}
      <li class="page-item">
        <a class="page-link" href="{{ $firstURL }}" aria-label="Go to first page">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {{ end }}

    {{ range seq 1 $totalPages }}
      {{ $pageNum := . }}
      {{ $showPage := false }}

      {{ if and (ge $pageNum (sub $currentPage 2)) (le $pageNum (add $currentPage 2)) }}
        {{ $showPage = true }}
      {{ end }}

      {{ if $showPage }}
        {{ $pageURL := "" }}
        {{ if eq $pageNum 1 }}
          {{ $pageURL = "/" }}
        {{ else }}
          {{ $pageURL = printf "/page/%d/" $pageNum }}
        {{ end }}
        <li class="page-item {{ if eq $pageNum $currentPage }}active{{ end }}">
          <a class="page-link" href="{{ $pageURL }}">{{ $pageNum }}</a>
        </li>
      {{ end }}
    {{ end }}

    {{ $nextPage := add $currentPage 5 }}
    {{ if le $nextPage $totalPages }}
      {{ $nextURL := printf "/page/%d/" $nextPage }}
      <li class="page-item">
        <a class="page-link" href="{{ $nextURL }}" aria-label="Next 5 pages">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {{ else }}
      {{ $lastURL := printf "/page/%d/" $totalPages }}
      <li class="page-item">
        <a class="page-link" href="{{ $lastURL }}" aria-label="Go to last page">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {{ end }}
  </ul>
</nav> 