{{ $paginator := .Paginator }}
{{ $currentPage := $paginator.PageNumber }}
{{ $totalPages := $paginator.TotalPages }}
<nav aria-label="Page navigation" class="d-flex justify-content-center">
  <ul class="pagination">
    {{ if $paginator.HasPrev }}
      {{ $prevURL := "" }}
      {{ if eq (sub $currentPage 1) 1 }}
        {{ $prevURL = "/" }}
      {{ else }}
        {{ $prevURL = printf "/page/%d/" (sub $currentPage 1) }}
      {{ end }}
      <li class="page-item">
        <a class="page-link" href="{{ $prevURL }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {{ else }}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </span>
      </li>
    {{ end }}

    {{ range seq 1 $totalPages }}
      {{ $pageNum := . }}
      {{ $showPage := false }}
      
      {{ if or (eq $pageNum 1) (eq $pageNum $totalPages) }}
        {{ $showPage = true }}
      {{ else if and (ge $pageNum (sub $currentPage 1)) (le $pageNum (add $currentPage 1)) }}
        {{ $showPage = true }}
      {{ end }}
      
      {{ if $showPage }}
        {{ $pageURL := "" }}
        {{ if eq $pageNum 1 }}
          {{ $pageURL = "/" }}
        {{ else }}
          {{ $pageURL = printf "/page/%d/" $pageNum }}
        {{ end }}
        <li class="page-item {{ if eq $pageNum $currentPage }}active{{ end }}">
          <a class="page-link" href="{{ $pageURL }}">{{ $pageNum }}</a>
        </li>
      {{ else if and (eq $pageNum 2) (gt $currentPage 3) }}
        <li class="page-item disabled">
          <span class="page-link">...</span>
        </li>
      {{ else if and (eq $pageNum (sub $totalPages 1)) (lt $currentPage (sub $totalPages 2)) }}
        <li class="page-item disabled">
          <span class="page-link">...</span>
        </li>
      {{ end }}
    {{ end }}

    {{ if $paginator.HasNext }}
      {{ $nextURL := printf "/page/%d/" (add $currentPage 1) }}
      <li class="page-item">
        <a class="page-link" href="{{ $nextURL }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {{ else }}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </span>
      </li>
    {{ end }}
  </ul>
</nav> 