<div id="search-dropdown" class="dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    搜索
  </a>
  <div class="dropdown-menu">
    <form id="search-form" class="row g-3 p-3" style="min-width: 300px;" method="get" target="_blank">
      <div class="col-12">
        <input id="search-text" type="text" class="form-control" placeholder="搜索本站..." required>
        <input id="hidden-query" type="hidden">
      </div>
      <div class="col-8">
        <select id="search-engine" class="form-select mb-3">
          <option value="google" selected>Google</option>
          <option value="baidu">百度</option>
          <option value="bing">必应</option>
          <option value="duckduckgo">DuckDuckGo</option>
        </select>
      </div>
      <div class="col-4 text-end">
        <button id="search-button" type="submit" class="from-control-inline btn btn-primary">搜索</button>
      </div>
    </form>
    <script>
      $(document).ready(function() {
        $('#search-dropdown').on('shown.bs.dropdown', function () {
          $('#search-text').focus();
        });

        $('#search-button').click(function(e) {
          const siteUrl = '{{ .Site.BaseURL }}';
          const query = $('#search-text').val();
          const searchEngine = $('#search-engine').val();
          if (searchEngine == 'google') {
            $('#search-form').attr('action', 'https://www.google.com/search');
            $('#hidden-query').attr('name', 'q');
            $('#hidden-query').val('site:' + siteUrl + ' ' + query);
          } else if (searchEngine == 'baidu') {
            $('#search-form').attr('action', 'https://www.baidu.com/s');
            $('#hidden-query').attr('name', 'wd');
            $('#hidden-query').val('site:' + siteUrl + ' ' + query);
          } else if (searchEngine == 'bing') {
            $('#search-form').attr('action', 'https://www.bing.com/search');
            $('#hidden-query').attr('name', 'q');
            $('#hidden-query').val('site:' + siteUrl + ' ' + query);
          } else if (searchEngine == 'duckduckgo') {
            $('#search-form').attr('action', 'https://duckduckgo.com/');
            $('#hidden-query').attr('name', 'q');
            $('#hidden-query').val('site:' + siteUrl + ' ' + query);
          }
        });
      });
    </script>
  </div>
</div>
