{{ define "main" -}}
<div>
  {{ .Content -}}
</div>
<ul>
  {{ range (.Paginate ( where .Site.RegularPages "Type" "in" site.Params.mainSections )).Pages -}}
  <li>
    <div class="d-inline">{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}</div>
    <div class="d-inline ms-3">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
        {{ range .Params.categories }}
        <span class="badge border fw-normal text-secondary text-bg-light ms-2">{{ . }}</span>
        {{ end }}
      </a>
    </div>
  </li>
  {{ end -}}
</ul>
{{ template "_internal/pagination.html" . -}}
{{ end -}}
