// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom styles
@import "custom";

// Pagination centering
.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
} 